.main-container {
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    justify-content: flex-start;
    align-items: flex-start;
}

.inside {
    align-self: stretch;
    box-sizing: border-box;
}